matrix:
  include:
    - language: java
      install: true
      jdk:
        - openjdk12.0.1
      script:
        - ./gradlew build
      env:
        - BUILD_NAME=gradle

    - language: generic
      services:
        - docker
      before_install:
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      script:
        - ./scripts/build-docker-image-api.sh
      env:
        - BUILD_NAME=docker_api

    - language: generic
      services:
        - docker
      before_install:
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      script:
        - ./scripts/build-docker-image-customer.sh
      env:
        - BUILD_NAME=docker_customer

    - language: generic
      services:
        - docker
      before_install:
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      script:
        - ./scripts/build-docker-image-frontend.sh
      env:
        - BUILD_NAME=docker_frontend

    - language: generic
      services:
        - docker
      before_install:
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      script:
        - ./scripts/build-docker-image-inventory.sh
      env:
        - BUILD_NAME=docker_inventory

    - language: generic
      services:
        - docker
      before_install:
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      script:
        - ./scripts/build-docker-image-order.sh
      env:
        - BUILD_NAME=docker_order

    - language: generic
      services:
        - docker
      before_install:
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      script:
        - ./scripts/build-docker-image-payment.sh
      env:
        - BUILD_NAME=docker_payment

