version: '3'
services:
  customer-redis:
    image: redis:5.0.3-alpine
    restart: always
    ports:
      - "6379:6379"
  customer-svc:
    build:
      context: ./
      dockerfile: Dockerfile-customer
    image: doerfli/cloudstore-customer-svc
    restart: always
    depends_on:
      - customer-redis
    environment:
      - REDISHOST=customer-redis
      - REDISPORT=6379
    volumes:
      - customer-svc-logs:/log
  api-svc:
    build:
      context: ./
      dockerfile: Dockerfile-api
    image: doerfli/cloudstore-api-svc
    restart: always
    depends_on:
      - customer-svc
    ports:
      - 8080:8080
    volumes:
      - api-svc-logs:/log
  
  zookeeper:
    image: confluentinc/cp-zookeeper:5.1.2
    ports:
      - 2181:2181
    environment:
      - ZOOKEEPER_CLIENT_PORT=2181
  kafka:
    image: confluentinc/cp-kafka:5.1.2
    depends_on:
      - zookeeper
    ports:
      - 9092:9092
    environment:
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181 
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092 
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1 

  elasticsearch:
    image: elasticsearch:6.6.1
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      - discovery.type=single-node
  kibana:
    image: kibana:6.6.1
    depends_on:
      - elasticsearch
    ports:
      - 5601:5601
  logstash:
    image: logstash:6.6.1
    depends_on:
      - customer-svc
      - api-svc
    environment:
      - "CLOUDSTORE_ROOT=/logs"
    volumes:
      - "./logstash/:/usr/share/logstash/pipeline/:ro"
      - customer-svc-logs:/logs/customer/log
      - api-svc-logs:/logs/api/log

volumes:
  customer-svc-logs:
  api-svc-logs:
