version: '3'
services:
  control-center:
    image: confluentinc/cp-enterprise-control-center:5.1.0
    depends_on:
      - zookeeper
      - kafka
    ports:
      - 9021:9021
    environment:
      - CONTROL_CENTER_ZOOKEEPER_CONNECT=zookeeper:2181 
      - CONTROL_CENTER_BOOTSTRAP_SERVERS=kafka:9092 
      - CONTROL_CENTER_REPLICATION_FACTOR=1 
      - CONTROL_CENTER_MONITORING_INTERCEPTOR_TOPIC_PARTITIONS=1 
      - CONTROL_CENTER_INTERNAL_TOPICS_PARTITIONS=1 
      - CONTROL_CENTER_STREAMS_NUM_STREAM_THREADS=2 
      #- CONTROL_CENTER_CONNECT_CLUSTER=http://kafka-connect:8082 
      
  kong-db:
    image: postgres:alpine
    restart: always
  kong:
    image: kong
    depends_on:
      - kong-db
    ports:
      - 8000:8000
      - 8001:8001
      - 8443:8443
      - 8444:8444
    environment:
      - KONG_DATABASE=postgres
      - KONG_PG_HOST=kong-db
      - KONG_PG_USER=postgres
      - KONG_PG_DATABASE=postgres
      - KONG_LOG_LEVEL=info
      - KONG_ADMIN_LISTEN=0.0.0.0:8001, 0.0.0.0:8444 ssl
